@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model StudentManagement.Models.admin
@{
    Layout = "_WebsiteLayout";
}

<div class="bg-gray-200 p-6 d-flex justify-center items-center">
    <div class="bg-white p-8 border-gray-100 rounded-lg shadow-xl">
        <h1 class="my-2 text-4xl font-bold text-center">Reset your password</h1>
        <p class="text-center mb-4">We will send an otp on your email to verify email</p>
        <form asp-action="ForgotPassword">
            <label class="block font-bold mb-2">Enter your email</label>
            <input type="email" asp-for="email" required class="p-2 bg-gray-200 w-full rounded-md border border-gray-300 shadow-xl" />
            <button class="my-4 w-full py-2 rounded-lg bg-blue-600 text-white font-bold shadow-xl hover:bg-blue-800 animation" type="submit">Submit</button>
        </form>
    </div>
</div>