@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model StudentManagement.Models.admin
@{
    Layout = "_WebsiteLayout";
}


<div class="bg-gray-200 p-4 d-flex justify-center items-center">
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <h1 class="text-4xl mt-4 font-bole">Reset Your New Password</h1>
        <form method="post" asp-action="ResetPassword">
            <label class="block font-bold mt-2">Enter your New Password</label>
            <input type="password" name="newpass" required class="w-full p-2 bg-gray-300 rounded shadow-xl mb-2"/>

            <label class="block font-bold mt-2">Confirm Your new password</label>
            <input type="password" name="confirmpass" required class="w-full p-2 bg-gray-300 rounded shadow-xl mb-2" />

            <button class="w-full bg-blue-600 rounded-lg text-white font-bold my-3 p-2 shadow-xl hover:bg-blue-800 transition animation">Submit</button>

            @TempData["msg"];

        </form>
    </div>
</div>